
   
@media (max-width:480px){
   .box{
    width: 80%;
    margin: 70px auto 0 auto;
    padding: 40px 0 0 0;
   } 
   .one, .three{
    width:50px;
    
}
.two{
    background: url(./images/cen70.png)no-repeat center center fixed;
    
}
    

}

 
@media (max-width:320px){

    h1{
        font-size: 28px;
    }
   
}
